name: Frontend Tests

on:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # TODO : Setup Node.js 18 avec cache npm
      # Indice : cache-dependency-path: frontend/package-lock.json
      - name: Set up Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json
      # TODO : Installez les dépendances (cd frontend && npm ci)
      - name: Intall dependencies
        run: |
          cd frontend
          npm ci
      # TODO : Lancez les tests
      - name: Run Tests
        run: |
          cd frontend
          npm test -- --run
          npm run build
      # TODO : Vérifiez le build
      - name: Verify build
        run: |
          cd frontend
          if [ ! -d "src" ]; then
            echo "Build directory 'src' does not exist!"
            exit 1
          fi